body{
    
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "grid buttons";
    grid-template-rows: 80% auto
}
svg{
    
    border: solid black 1px;
    fill: white;
    
    

}
#buttons{
    grid-area: buttons
}
svg rect {
stroke: black;

}
svg circle {
    stroke: black;

}
#grid{
    grid-area: grid;
    display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
.circle{

}
.rect{

}
.diamond{

}
.fill{
    fill:black;
}